{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>About Finch Collector</h1>
    <hr>
    <p style="font-size: x-large;"> At our finch collecting community, we pride ourselves on being a welcoming and inclusive space for all kinds of collectors. Whether you are interested in exotic species from far-off lands, or prefer to focus on more familiar birds like canaries or zebra finches, there is a place for you here. </p>
    <p style="font-size: x-large;">Our community is built on the principles of education, respect, and responsibility. We believe that by learning as much as we can about the birds we collect, we can provide them with the best possible care and ensure their health and happiness.</p>
    <p style="font-size: x-large;">We also believe in the importance of connecting with others who share our passion for finches. That's why we host regular meetups and events, both online and in person, to give members a chance to connect, share stories, and learn from each other.</p>
    <p style="font-size: x-large;">Whether you are a seasoned collector with years of experience, or just starting out and looking for guidance, we welcome you to our community. Join us today and discover the magic of finch collecting!" </p>
</div>
{% endblock %}