{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>About Finch Collector</h1>
    <hr>
    <p style="font-size: x-large;">Welcome to Finch Collector, a personal website dedicated to helping finch owners keep track of their beloved feathered friends. Our platform allows you to create a profile for each of your finches, where you can log their feedings and track their favorite toys. You can even upload photos of your feathered companions to share with friends and family.</p>
    <p style="font-size: x-large;">Our mission is to make it easier for finch owners to keep track of their pets' health and happiness. We understand that every finch is unique, and that's why we've designed our platform to be customizable to your specific needs. Whether you're a seasoned finch owner or new to the hobby, our website has everything you need to keep your birds healthy and happy.</p>
    <p style="font-size: x-large;">Thank you for choosing Finch Collector. We hope you enjoy using our website and look forward to helping you care for your finches!</p>
</div>
{% endblock %}