{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <h1 class="center-align">Welcome to Finch Collector</h1>
        <hr>
        <p style="font-size: x-large;"> Welcome to Finch Collector, your personal website for managing and tracking your finches. </p>
        <p style="font-size: x-large;">With Finch Collector, you can log in and add your finches, track their feeding schedules including breakfast, lunch, and dinner on specific dates, and even add toys to their cages.</p>
        <p style="font-size: x-large;">You can also upload photos of your finches to keep a visual record of their growth and development.</p>
        <p style="font-size: x-large;">This is your private space to manage your finch collection. </p>
        <p style="font-size: x-large;">Start managing your finches today with Finch Collector! </p>
        <p style="font-size: x-large;">Join us on our journey to explore the world of finches and connect with a community of like-minded bird enthusiasts. </p>

        <div class="collection">
            <a href="#!" class="collection-item">Facebook</a>
            <a href="#!" class="collection-item">Instagram</a>
            <a href="#!" class="collection-item">Twitter</a>
        </div>
    </div>


    
{% endblock %}